@page
@model SarasBlogg.Pages.ContactModel
@inject SignInManager<IdentityUser> SignInManager
@{
}
<div class="container-site"
<h2>Kontakta mig</h2>

<form class="p-1 p-4 border rounded shadow-sm" method="post">
    <div class="mb-3">
        <label asp-for="ContactMe.Name" class="control-label"></label>
        <input asp-for="ContactMe.Name" class="form-control" />
        <span asp-validation-for="ContactMe.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ContactMe.Email" class="control-label"></label>
        <input asp-for="ContactMe.Email" class="form-control" />
        <span asp-validation-for="ContactMe.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ContactMe.Subject" class="control-label"></label>
        <input asp-for="ContactMe.Subject" class="form-control" />
        <span asp-validation-for="ContactMe.Subject" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ContactMe.Message" class="control-label"></label>
        <textarea asp-for="ContactMe.Message" class="form-control"></textarea>
        <span asp-validation-for="ContactMe.Message" class="text-danger"></span>
    </div><br />
    <button type="submit" class="btn btn-success">Skicka</button>
</form>
    @if (TempData["Message"] != null)
    {
        <br /><div class="alert alert-success">@TempData["Message"]</div>
    }

@if (SignInManager.IsSignedIn(User))
{
    <ul>
    <br />

    @foreach (var item in Model.ContactMes)
    {
            <li class="list-group-item d-flex">
                <form method="post" class="me-2">
                    <input type="hidden" name="deleteId" value="@item.Id" />
                    <button type="submit" class="btn btn-close linebreaknormal"></button>
                </form>

                <strong>@item.Name</strong> - <em>@item.Subject - @item.Message</em><br />
            </li>
    }
</ul>
}
</div>