@using SarasBlogg.Extensions
@using SarasBlogg.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
}
@model SarasBlogg.ViewModels.BloggViewModel

<div class="container-site">
	@if (Model.Blogg == null || Model.Blogg.Hidden)
	{
		var filteredBloggs = (Model.Bloggs ?? new List<Blogg>())
		.Where(b => (Model.IsArchiveView ? b.IsArchived : !b.IsArchived)
		&& !b.Hidden
		&& b.LaunchDate <= DateTime.Today);


		foreach (var blogg in filteredBloggs)
		{
			<a asp-route-showId="@blogg.Id" class="text-decoration-none text-dark blogg-link" Id="reloadPageFormSection-@blogg.Id" data-blogg-id="@blogg.Id">
				<div class="card m-2 shadow-lg card mx-auto">
					<div class="card-body">
						<img class="card-img-top mb-4 shadow-lg" src="~/img/blogg/@blogg.Image" />
						<h5 class="card-title">@blogg.Title</h5>
						<p class="card-text">@blogg.Content.LimitLength(120)</p>
						<p class="text-muted">
							<small class="text-muted">
								Publicerad: @blogg.LaunchDate.ToString("yyyy-MM-dd")
								<br />
								@Model.Comments?.Count(c => c.BloggId == blogg.Id)
								@(Model.Comments?.Count(c => c.BloggId == blogg.Id) == 1 ? "Kommentar" : "Kommentarer")
							</small>
						</p>
					</div>
				</div>
			</a>
			<hr class="m-5 border" />
		}
	}
	else
	{
		<div class="card-body" id="bloggTopSection">
			<div class="card-body">
				<img class="card-img-top mb-3 rounded shadow-lg object-fit-cover bloggimg" onclick="reloadCurrentPage(@Model.Blogg.Id)" style="cursor: pointer" src="~/img/blogg/@Model.Blogg.Image" alt="Blogg image" />
				<h3 class="card-title">@Model.Blogg.Title</h3>
				<p class="card-text linebreak">@Model.Blogg.Content</p>
				<p class="text-muted">
					<strong>Författare:</strong> @Model.Blogg.Author<br />
					<strong>Publicerad:</strong> @Model.Blogg.LaunchDate.ToString("yyyy-MM-dd")
				</p>
				<hr class="mb-3" />
			</div>
		</div>
		@if (Model.Comments != null && Model.Comments.Any((c => c.BloggId == Model.Blogg.Id)))
		{
			<div class="comments-section mt-4">
				<h5>Kommentarer</h5>
				@foreach (var comment in Model.Comments.Where(c => c.BloggId == Model.Blogg.Id).Reverse()) // går säkert göra mer dry Todo
				{
					<div>
						<div class="card-body">
							<strong>@comment.Name</strong> <span class="text-muted">(@comment.CreatedAt.ToString("yyyy-MM-dd HH:mm"))</span>
							<p>@comment.Content</p>
							@if (User.IsInRole("admin") || User.IsInRole("superadmin") || User.IsInRole("superuser"))
							{
								<form method="post" asp-route-deleteCommentId="@comment.Id">
									<button type="submit" class="btn btn-link p-0 m-0 align-baseline">Ta bort</button>
								</form>
							}
						</div>
					</div>
				}
			</div>
			<hr class="mb-3" />
			<h5>Ny Kommentar</h5>
		}
		else
		{
			<p class="text-muted">Inga kommentarer ännu.</p>
		}
		<form method="post" class="p-3 border rounded shadow-sm">
			<label asp-for="Comment.Name"></label>
			<input asp-for="Comment.Name" class="form-control" placeholder="Ange ditt namn" />
			<br />
			@* 			<label asp-for="Comment.Email"></label>
			<input asp-for="Comment.Email" class="form-control" placeholder="Ange din mailadress" />
			<br /> *@
			<label asp-for="Comment.Content"></label>
			<textarea asp-for="Comment.Content" rows="4" cols="50" class="form-control" placeholder="Skriv en kommentar"></textarea>
			<br />
			<input type="hidden" asp-for="Comment.BloggId" value="@Model.Blogg.Id" />
			<input type="hidden" asp-for="Comment.CreatedAt" value="@DateTime.UtcNow" />
			<input type="submit" value="Skicka kommentar" />
		</form>
	}
</div>